* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

:root {
    --base-red: #FF0000;
}


/* Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #303030;
}

html::-webkit-scrollbar
{
	width: 8px;
	background-color: #303030;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #000;
    max-width: 100vw;
    height: 100vh;
    color: #fff;
}

main {
    padding: 0 7em;
}


.header-intro {
    width: 100%;
    height: 45em;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.intro-texto {
    width: 50em;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro-texto h1 {
    font-size: 3rem;
    font-weight: 700;
}

.intro-texto p {
    margin-top: 1rem;
    font-weight: 300;
}

.intro-texto h1 span {
    color: var(--base-red);
}

.aling-texto {
    margin: 12rem 0;
}

.intro-foguete {
    top: 0;
    position: fixed;
    z-index: -4;
    opacity: 0.5;
}

.intro-foguete img {
    width: 75em;
}

.aling-texto button {
    background: rgb(255, 0, 0);
    background: linear-gradient(121deg, rgba(255, 0, 0, 1) 30%, rgba(238, 68, 15, 1) 100%);
    height: 4em;
    width: 32em;
    margin-top: 2em;
    border-radius: 18px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.aling-texto button:hover {
    -webkit-box-shadow: -7px 21px 16px 6px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: -7px 21px 16px 6px rgba(255, 0, 0, 0.75);
}



/* Hasta 480px de ancho (teléfonos pequeños y antiguos) */
@media (max-width: 480px) {
    /* Estilos específicos para dispositivos móviles */
}

/* De 481px a 767px de ancho (teléfonos más grandes y pequeñas tabletas) */
@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos específicos para dispositivos móviles */
}


/* De 768px a 1024px de ancho (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
}


/* De 1025px a 1366px de ancho (monitores de escritorio y laptops) */
@media (min-width: 1025px) and (max-width: 1366px) {
    .intro-foguete {
        left: 18em;
    }
}

/* A partir de 1367px de ancho (monitores grandes y pantallas panorámicas) */
@media (min-width: 1367px) {

    .intro-foguete {
        left: 30em;
    }
}